* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

/* Navigation-Section */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    background-color: #0E2954;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

#navigation {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 0 20px;
}

/* Welcome-Section */
#welcome-section {
    position: relative;
    margin-top: 75px;
    padding: 25px;
    background-color: #1F6E8C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#welcome-container {
    position: relative;
    top: 30%;
    font-size: 2em;
}

#welcome-container>p {
    font-style: italic;
    font-weight: lighter;
}

/* Projects-Section */
#projects {
    background-color: #2E8A99;
    padding: 50px 5%;
    width: 100%;
    text-align: center;
}

#projects>h2 {
    text-decoration: underline;
    padding-bottom: 50px;
}

#projects-container {
    display: grid;
    gap: 25px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.project-tile {
    background-color: #45567d;
    min-height: 400px;
    padding: 20px;
}

.project-tile img {
    height: 300px;
    padding-top: 20px;
}

.project-tile h4 {
    padding: 0;
    margin-top: 30px;
    font-size: 1.2rem;
}

/* Contact-Section */
#contact {
    background-color: #84A7A1;
    width: 100%;
    padding: 50px;
    text-align: center;
}

#contact>h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 10px;
}

#contact>p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: lighter;
}

#social-accounts {
    margin-bottom: 250px;
}

#social-accounts a {
    color: black;
}

#horizontal-rule {
    background-color: #0E2954;
    width: 100%;
    height: 5px;
    margin-bottom: 25px;
}

#bottom-contact {
    display: flex;
    justify-content: space-around;
}

/* Media Queries */
@media(max-width: 1200px) {
    #projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media(max-width: 1000px) {
    #bottom-contact {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

@media(max-width: 950px) {
    #projects-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    #project-one {
        grid-area: 1 / 2 / 2 / 3;
    }

    #project-two {
        grid-area: 2 / 2 / 3 / 3;
    }

    #project-three {
        grid-area: 3 / 2 / 4 / 3;
    }

    #project-four {
        grid-area: 4 / 2 / 5 / 3;
    }

    #project-five {
        grid-area: 5 / 2 / 6 / 3;
    }

    #project-six {
        grid-area: 6 / 2 / 7 / 3;
    }
}

@media(max-width: 800px) {
    #projects-container {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    #project-one {
        grid-area: 1 / 2 / 2 / 3;
    }

    #project-two {
        grid-area: 2 / 2 / 3 / 3;
    }

    #project-three {
        grid-area: 3 / 2 / 4 / 3;
    }

    #project-four {
        grid-area: 4 / 2 / 5 / 3;
    }

    #project-five {
        grid-area: 5 / 2 / 6 / 3;
    }

    #project-six {
        grid-area: 6 / 2 / 7 / 3;
    }
}

@media(max-width: 700px) {
    #navbar {
        justify-content: center;
    }

    #projects-container {
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    #project-one {
        grid-area: 1 / 2 / 2 / 3;
    }

    #project-two {
        grid-area: 2 / 2 / 3 / 3;
    }

    #project-three {
        grid-area: 3 / 2 / 4 / 3;
    }

    #project-four {
        grid-area: 4 / 2 / 5 / 3;
    }

    #project-five {
        grid-area: 5 / 2 / 6 / 3;
    }

    #project-six {
        grid-area: 6 / 2 / 7 / 3;
    }
}

@media(max-width: 600px) {
    #projects-container {
        display: grid;
        grid-template-columns: 1fr 60fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    #project-one {
        grid-area: 1 / 2 / 2 / 3;
    }

    #project-two {
        grid-area: 2 / 2 / 3 / 3;
    }

    #project-three {
        grid-area: 3 / 2 / 4 / 3;
    }

    #project-four {
        grid-area: 4 / 2 / 5 / 3;
    }

    #project-five {
        grid-area: 5 / 2 / 6 / 3;
    }

    #project-six {
        grid-area: 6 / 2 / 7 / 3;
    }
}

@media(max-width: 500px) {
    .project-tile img {
        height: 280px;
    }
}

@media(max-width: 450px) {
    .project-tile {
        min-height: 380px;
    }

    .project-tile img {
        height: 260px;
    }
}

@media(max-width: 400px) {
    .project-tile {
        min-height: 360px;
    }

    .project-tile img {
        height: 240px;
    }
}